@font-face {
    font-family: 'SBBWeb Bold';
    src: url("/fonts/SBB-Web/SBBWeb-Bold.ttf");
}

@font-face {
    font-family: 'SBBWeb Condensed Bold';
    src: url("/fonts/SBB-Web/SBBWeb-Condensed-Bold.ttf");
}

@font-face {
    font-family: 'SBBWeb Condensed Heavy';
    src: url("/fonts/SBB-Web/SBBWeb-Condensed-Heavy.ttf");
}

@font-face {
    font-family: 'SBBWeb Italic';
    src: url("/fonts/SBB-Web/SBBWeb-Italic.ttf");
}

@font-face {
    font-family: 'SBBWeb Light';
    src: url("/fonts/SBB-Web/SBBWeb-Light.ttf");
}

@font-face {
    font-family: 'SBBWeb Roman';
    src: url("/fonts/SBB-Web/SBBWeb-Roman.ttf");
}

@font-face {
    font-family: 'SBBWeb Thin';
    src: url("/fonts/SBB-Web/SBBWeb-Thin.ttf");
}

@font-face {
    font-family: 'SBBWeb UltraLight';
    src: url("/fonts/SBB-Web/SBBWeb-UltraLight.ttf");
}